
.programside{
  max-width: 1000px;
  padding: 1rem;
  margin: auto;
}

.program-btn{
   background: none;
   color: dodgerblue;
   font-size: 1.2rem;
   margin: 1rem;
   padding: 0.25rem 1rem;
   border: 2px solid dodgerblue;
   border-radius: 3px;
 }

.program-btn:hover {
   cursor: pointer;
   color: blue;
   border: 2px solid blue;
 }

.program{
  text-align: left;
  margin-bottom: 3rem;
}

.programfilter{
  width: 50%;
  padding: 2%;
  min-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.Programinnhold{
  max-width: 850px;
  min-width: 400px;
  margin: auto;
  padding: 0 8rem;
  font-size: 1.5rem;
}

.event-detail{
  margin: 5% 0;
}

.programLink{
  text-decoration: none;
  width: 100%;
  display: flex;
}

.starttid{
  min-width: 5rem;
}

.programLink:hover{
  color: #505962;
  text-decoration: none;
}


@media (max-width: 1000px) {
  .Programinnhold{
    margin: auto;
    padding: 0 8rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .Programinnhold{
    margin: auto;
    padding: 0 4rem;
    font-size: 1rem;
  }
}

@media (max-width: 500px){
  .Programinnhold{
    margin: auto;
    padding: 0 1rem;
    font-size: 1rem;
    min-width: 0;
  }

  .programfilter{
    min-width: 0;
    width: 90%;
    padding: 2%;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }
}
