
/*--- FOR BEDRIFTER ----------------------------------------------------------*/
#bedriftinfo .col-xl-3 {
  margin-right: 3%;
}
#sporsmal .col-lg-3 {
  width: 85%;
}
.bedriftbase{
  margin: 0 20% 5% 20%;
  text-align: left;
}
.bedriftbase h1{
  text-transform: capitalize;
  margin: 6% 0 1% 0;
}

.påmeldingsinfo{
  text-align: left;
}
.mailingliste{
  margin-bottom: 5%;
}
.kontaktinfo h1{
  padding: 0;
}
.btn_bedrift {
  margin: 1rem 1rem 0 0;
}
.stand_pakke {
  margin: 2%;
  border: solid;
  border-radius: 12px;
  border-color: #08A6E4!important;
  text-align: left;
  display: flex;
  align-items: flex-start;
}
.stand_pakke_1 {
  border-width: 1px;
}
.stand_pakke_2 {
  border-width: 2px;
}
.stand_pakke_3 {
  border-width: 3px;
}
.stand_pakke_inner {
  padding: 8% 8% 10%;
}
.padding-top {
  padding-top: 2rem;
}
.priser .row{
  display: flex;
}
.hidden{
  visibility: hidden;
  display: none;
}
.styret{
  background-color: #F1F1F1;
  margin: 3rem 0 0;
  padding: 2rem 0 6rem 0;
  justify-content: space-around;
  width: 100%;
}

.row{
  display: flex;
}
.container-fluid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.Visitkort{
  min-width: 120px;
  max-width: 250px;
  padding: 4% 2%;
  font-weight: 200;
 }

.Visitkort .image-wrapper{
  text-align: center;
  min-width: 130px;
  width: inherit;
}

@media (max-width: 1200px) {
  #bedriftinfo .col-xl-3 {
    margin-left: 8.3%;
    width: 80%;
  }
  #standpakker h2 {
    font-size: 1.5rem;
  }
  .stand_pakke_inner {
    padding: 3% 7% 3%;
  }
}
@media (max-width: 992px) {
  #stand_pakke_venstre {
    margin-left: 2%;
  }
  .stand_pakke_inner {
    padding: 3% 7% 3%;
  }
}
@media (max-width: 767.98px) {

  .Visitkort .image-wrapper{
    text-align: center;
    min-width: 130px;
    width: inherit;
  }

  .Visitkort{
    min-width: 120px;
    max-width: 250px;
    padding: 5%;
    font-weight: 200;
   }

}
