#banner {
  max-height: 300px;
  background-image: url("../../img/bg_1.png");
  background-size: cover;
}
.caption h1 {
  font-weight: 700;
  padding: 0rem 2rem;
  color:#002446;
}
.caption h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #002446;
}
.caption h3 {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: .02rem;
  color: #ACACAC;
  padding-bottom: 1.5rem;
}
.front-logo{
  padding: 1px;
}

.btn-lg {
  border-width: medium;
  border-radius: 20px;
  padding: .4rem 1.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #08A6E4;
  color: white;
  text-decoration: none;
}
.btn-lg:hover {
  background-color: #005BB7;
  color: white;
}
.btn-disabled {
  pointer-events: none;
  cursor: default;
  background-color: #555555;
  color: #ACACAC;
}

/*--- Info Section --*/
#info .row{
  justify-content: space-around;
  padding: 0 10%;
}
.hva_er_dagen{
  margin-left: 3%;
  width: 30%;
}
.hvor_og_naar {
  margin-left: 3%;
  width: 30%;
}
.hvor_og_naar h5{
  margin-bottom: 0;
}
/*--- Hovedsponsor Section --*/
.politi_bilde {
  background-image: url("../../img/hovedsponsor.jpg");
  background-position: right;
  width: 100%;

}
/*--- Footer Section --*/
#footer {
  padding-top: 1rem;
  min-height: 10rem;
  text-align: center;
  background-color: #13253B;
  color: white;
}
#footer a {
  color: white;
  text-decoration: none;
}
#footer a:hover {
  color: #08A6E4!important;
  text-decoration: none;
}
.footer_bilde {
  background: url("../../img/ettermidagen_at_ifi-0480.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
}
@media (max-width: 1200px) {
  #banner {
    padding: 14% 0 16%;
  }
  .caption h1 {
    font-size: 3rem;
  }
  .caption h2 {
    font-size: 3rem;
  }
}
@media (max-width: 992px) {
  .caption h1 {
    font-size: 2.6rem;
  }
  .caption h2 {
    font-size: 2.6rem;
  }
}
@media (max-width: 767.98px) {
  .btn-lg {
    font-size: 0.9rem;
  }
  .hvor_og_naar {
    margin-left: 8.4%;
  }
  .politi_bilde{
    margin-left: 0%;
  }
  #sponsor img {
    width: 40%;
  }
  #info .row{
    justify-content: space-around;
    padding: 0;
  }
  .hva_er_dagen{
    margin-left: 3%;
    width: 30%;
  }
  .hvor_og_naar {
    margin-left: 3%;
    width: 30%;
  }
}
@media (max-width: 575.98px) {
  .caption h1 {
    font-size: 2.2rem;
  }
  .caption h2 {
    font-size: 1.8rem;
  }
  #info .row{
    justify-content: space-around;
    padding: 0;
    display: block;
  }
  .hva_er_dagen{
    width: 90%;
  }
  .hvor_og_naar {
    width: 90%;
  }
}
