.footer-container {
    height: 150px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1px 100%;
    gap: 0px 0px;
    grid-template-areas: 'divider divider' 'social-media-links logo-section';

    .social-media-links {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            'social-media-icons'
            'footer-text';
        grid-area: social-media-links;

        padding-left: 100px;

        .social-media-icons {
            grid-area: social-media-icons;

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-end;

            font-size: xx-large;
            line-height: 1.2em;

            a:hover {
                filter: brightness(0.2) invert(0.5);
            }
        }
        .footer-text {
            grid-area: footer-text;

            display: flex;
            justify-content: center;
            align-items: center;

            font-weight: 300;
            font-size: 1.2em;
        }
    }
    .logo-section {
        grid-area: logo-section;
        height: auto;
        width: auto;
        padding-right: 100px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        img {
            width: 200px;
            height: 100px;
            object-fit: contain;
        }
    }
    .divider {
        grid-area: divider;
        background-color: black;
        margin-left: 100px;
        margin-right: 100px;
    }
}
