$mobile-screen: 640px;

@mixin mobile {
    @media (min-width: #{$mobile-screen}) {
        @content;
    }
}

html * {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    font-family: Roboto !important;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;

    margin: 0;
    padding: 0;
    height: 100%;
}

.grid-container {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr 150px;
    gap: 0px 0px;
    grid-template-areas:
        'header'
        'body'
        'footer';
}

@include mobile {
    .grid-container {
        grid-template-rows: 80px 1fr 150px;
    }
}
.header {
    grid-area: header;
}

.body {
    grid-area: body;
    overflow: auto;
}

.footer {
    grid-area: footer;
}
