/*--- Felles til alle sider --------------------------------------------------*/
body {
  overflow-x: hidden;
  overflow-y: scroll;
  
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #505962;
  margin: 0;
  padding: 0;
  height: 100%;
}
img {
  width: 80%;
}
a {
  color: #08A6E4;
  text-decoration: underline;
}
h5 {
  color: black;
}