/*--- KONTAKT/OM OSS SIDEN ---------------------------------------------------*/
#styret {
  background-color: #F1F1F1;
  margin: 3rem 0 0;
  padding: 2rem 15% 6rem 15%;
  justify-content: space-around;
}
#styret img {
  width: 90%;
  min-width: 120px;
}
#styret b {
  font-size: 1.3rem;
}

#om-dagen{
  padding: 2rem 15%;
  width: 70%;
}

#kontakt{
  padding: 2rem 15%;
  width: 70%;
}

.styret{
  justify-content: space-around;
}

.kontaktbase{
  text-align: left;
  width: 100%
}
.adresse{
  width: 100%
}
.container-fluid{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.Visitkort{
  min-width: 120px;
  max-width: 250px;
  flex: initial;
  padding: 5% 2%;
  font-weight: 200;
}

.light-font{
  font-weight: 400;
}

.text-center{
  text-align: center;
}
.om_oss_bilde {
  background-image: url("./img/ettermidagen_at_ifi-0480.jpg");
}
@media (max-width: 767.98px) {
  .om_oss_bilde{
    margin-left: 0%;
  }
  .col-md-2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  #kontakt .row{
    display: block;
  }
}
