.bedriftStandBase{
  max-width:100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  text-align: left;
}

.bedriftStandInnhold{
  background: white;
  max-width: 850px;
  min-width: 640px;
  margin: auto;
  padding: 0 5rem;
  height: auto;
  text-align: left;
}

.standbase{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, auto));
  gap: 20px;
  padding: 8rem;
  background: #d7dfe7;
}

.stand-bar-buttons button{
  color: deepskyblue;
  background-color: whitesmoke;
  border: none;
}

.stand-bar-buttons:hover{
  color: black;
}

.button-card-container {
  display: grid;
  min-width: 0;
  width: 80%;
  justify-content: center;
  background-color: white;
}

.button-card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.button-card {
  border: none;
  height: 200px;
  width: 200px;
  padding: 0.5em;
  background: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, auto));
}

.button-img{
  width: auto;
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  align-content: center;
  display: block;
}


#livelinker{
  display: flex;
  height: 150px;
  align-items: space-around;
  text-align: left;
  justify-content: space-around;
  flex-direction: row;
  font-size: 2rem;
  margin: 1rem auto;
}

#video{
  justify-content: center;
  align-self: center;
}

#videolink{
  display: none;
}

#videoContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto 2.5rem;
}


@media (max-width: 720px) {
  #livelinker{
    display: flex;
    min-height: 150px;
    text-align: left;
    font-size: 2rem;
    margin: 0 auto 3rem;
  }
}

@media (max-width: 640px) {
  #video{
    display: none;
  }
  #videolink{
    display: block;
  }

  #videoContainer{
    width: 100%;
    margin: 2rem auto 1rem;
  }

  .bedriftStandInnhold{
    padding: 0 2rem;
    max-width: 1em;
  }
}
