.bedriftStandBase{
  max-width:100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  text-align: left;
}

.bedriftStandInnhold{
  background: white;
  max-width: 850px;
  margin: auto;
  padding: 0 5rem;
  height: auto;
  text-align: left;
}

.stand-container{
  position: relative;
  top: 0;
  left: 0;
  width:100%;
  height: auto;
  z-index: 50;
  min-height: 70px;
}

.button-card {
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: #ffffff;
  color: #515962;
  font-family: sans-serif;
  font-size: 0rem;
  cursor: pointer;
  transition: background 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.button-img{
  width: auto;
  max-width: 750px;
  max-height: 200px;
}

/* Add some padding inside the card container */
.button-card-container {
  padding: 2px 16px;
  display: inline-flex;
}

/* On mouse-over, add a deeper shadow */
.button-card:hover,
 .button-card:focus {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.button-card:focus {
    background: #ffffff;
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.button-card:active {
    transform: scale(0.99);
}

.standbase{
  padding: 3% 5% 13% 5%;
  background: #d7dfe7;
  min-height: 100%;
}

#livelinker{
  display: flex;
  height: 150px;
  align-items: space-around;
  text-align: left;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 2rem;
  margin: 1rem auto;
}

#video{
  justify-content: center;
  align-self: center;
}

#videolink{
  display: none;
}

#videoContainer{
  width: 100%;
  margin: 0 auto 4rem;
}


.display-block {
  display: block;
}

.display-none {
  display: none;
}


@media (max-width: 640px) {
  #livelinker{
    display: flex;
    min-height: 150px;
    align-items: space-around;
    text-align: left;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2rem;
    margin: 0 auto 3rem;
  }

  #video{
    display: none;
  }
  #videolink{
    display: block;
  }

  #videoContainer{
    width: 100%;
    margin: 2rem auto 1rem;
  }

  .bedriftStandInnhold{
    padding: 0 2rem;
  }
}
