.bedriftStandBase{
  max-width:100%;
  margin: auto;
  display: grid;
  grid-template-columns: 3rem 3rem 3rem;
  padding-bottom: 5%;
  text-align: left;
}

.bedriftStandInnhold{
  background: white;
  max-width: 850px;
  min-width: 640px;
  margin: auto;
  padding: 0 5rem;
  height: auto;
  text-align: left;
}

.stand-container{
  position: relative;
  top: 0;
  left: 0;
  width:100%;
  height: auto;
  z-index: 50;
  min-height: 70px;
}

.button-card {
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: #ffffff;
  color: #515962;
  font-family: sans-serif;
  font-size: 0rem;
  cursor: pointer;
  transition: background 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Add shadows to create the "card" effect */
  transition: 0.3s;
}

.button-img{
  min-width: 0;
  width: 100%;
}

/* Add some padding inside the card container */
.button-card-container {
  padding: 8px;
  margin: 5px;
  display: grid;
  min-width: 0;
  width: 80%;
  overflow: hidden;
  place-items: center;
  background-color: white;
  
}

/* On mouse-over, add a deeper shadow */
.button-card:hover,
 .button-card:focus {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.button-card:focus {
    background: #ffffff;
    outline: 1px solid #fff;
    outline-offset: -4px;
    max-width: 2rem;
}


.standbase{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 8rem;
  background: #d7dfe7;
}

#livelinker{
  display: flex;
  height: 150px;
  align-items: space-around;
  text-align: left;
  justify-content: space-around;
  flex-direction: row;
  font-size: 2rem;
  margin: 1rem auto;
}

#video{
  justify-content: center;
  align-self: center;
}

#videolink{
  display: none;
}

#videoContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto 4rem;
}


@media (max-width: 720px) {
  #livelinker{
    display: flex;
    min-height: 150px;
    text-align: left;
    font-size: 2rem;
    margin: 0 auto 3rem;
  }
}

@media (max-width: 640px) {
  #video{
    display: none;
  }
  #videolink{
    display: block;
  }

  #videoContainer{
    width: 100%;
    margin: 2rem auto 1rem;
  }

  .bedriftStandInnhold{
    padding: 0 2rem;
    max-width: 1em;
  }
}
